@import url('https://fonts.googleapis.com/css2?family=Bytesized&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Bytesized, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #bfebf4;
}

#game-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    margin: 0 1.2em 0;
    width: 100%;
    height: 8vh;
    background-color: #221442;
    border-bottom: 0.25rem solid #bfebf4;
    padding: 2em 1.25em;
}

#game-title {
    font-size: 4em;
}

.control {
    cursor: pointer;
    border: none;
    width: 3em;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.control img {
    width: 3em;
    height: auto;
}

#game-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 0.5em 2em;
    background: url('../../images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#message {
    margin: 1rem 0;
    font-size: 3rem;
}

#game-board {
    width: 90%;
    max-width: 500px;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.75rem;
}

.square {
    border: 0.2rem solid #dd790f;
    background-color: #f4d35e;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.square img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    pointer-events: none; 
}

.square:not(.taken):hover {
    border-color: #bfebf4;
}

.square.taken {
    background-color: #fcdd05;
    cursor: not-allowed;
}

.winner {
    background-color: #1f762e !important;
    border: none;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}