@import url('https://fonts.googleapis.com/css2?family=Bytesized&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Bytesized, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #bfebf4;
}

#game-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    margin: 0 1.2em 0;
    width: 100%;
    height: 8vh;
    background-color: #221442;
    border-bottom: 0.25rem solid #bfebf4;
    padding: 2em 1.25em;
}

#game-title {
    font-size: 4em;
}

.control {
    cursor: pointer;
    border: none;
    width: 3em;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.control img {
    width: 3em;
    height: auto;
}

#game-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 0 2em;
    background: url('../../images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.choice {
    background: none;
    border: none;
    object-fit: contain;
    margin: 2em 2.5em 4em;
    cursor: pointer;
}

.choice img {
    width: 100%;
    max-width: 16em;
    transition: transform 0.2s;
}

.choice:hover img {
    transform: translateY(-10px);
}

.choice:active {
    scale: 90%;
}

#player-display,
#computer-display {
    font-size: 2.5rem;
    text-transform: capitalize;
}

#result-display {
    font-size: 4rem;
}

.hidden {
    visibility: hidden;
}

.score-display {
    font-size: 2em;
    margin-left: auto;
}

.green-text {
    color: #10d000;
}

.red-text {
    color: #ff6347;
}